:root {
    --dark: rgba(53, 53, 53, 0.53);
}

html, body {
    font-family: Arial, sans-serif;
    color: white;
    background-size: cover;
    background-color: #b0c4de;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
}

body > * {
    width: 50%;
    min-width: 300px;
    box-sizing: border-box;
}

button {
    border-radius: 10px;
}

#top, #weatherOutput, #footer {
    background-color: var(--dark);
    padding: 10px;
}

#top {
    flex-grow: 1;
    display: grid;
    grid-template-rows: repeat (3 1fr);
    justify-content: stretch;
    align-items: stretch;
    margin: 5% 0;
    border-radius: 10px;
}

#top > *, #weatherOutput > * , #footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

#title {
    font-size: 2rem;
}

#form {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

#cityField{
    width: 90%;
    border-radius: 10px;
    padding: 0px 10px;
    box-sizing: border-box;
}

#top2 {
    flex-grow: 4;
}

#weatherOutput {
    border-radius: 10px;
    height: 75%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
        "locationDiv localTimeDiv"
        "iconDiv conditionDiv"
        "iconDiv windDiv"
        "iconDiv humidityDiv"
        "tempDiv feelsLikeDiv"
        "tempDiv toggleDiv";
}

#weatherOutput > * {
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#locationDiv {
    grid-area: locationDiv;
    font-size: 2rem;
}

#localTimeDiv {
    grid-area: localTimeDiv;
}

#iconDiv {
    grid-area: iconDiv;
}

#weatherIcon {
    height: 75%;
}

#conditionDiv {
    grid-area: conditionDiv;
}

#windDiv {
    grid-area: windDiv;
}

#humidityDiv {
    grid-area: humidityDiv;
}

#feelsLikeDiv {
    grid-area: feelsLikeDiv;
    border-bottom: none;
}

#tempDiv {
    grid-area: tempDiv;
    border-bottom: none;
    font-size: 2rem;
}

#toggleDiv {
    grid-area: toggleDiv;
    border-bottom: none;
}

#toggleButton {
    height: 100%;
    width: 100%;
    font-size: large;
}

#footer {
    border-radius: 10px 10px 0px 0px;
}

.hidden {
    display: none;
}

.dayBG {
    background-image: url(./img/day-min.jpg);
}

.duskBG {
    background-image: url(./img/dusk-min.jpg);
}

.nightBG {
    background-image: url(./img/night-min.jpg);
}

.dawnBG {
    background-image: url(./img/dawn-min.jpg);
}
